	html{/*响应式,设置只有1rem=10px*/
		font-size:16px;
		font-size:62.5%;
	}
	body{
		font-size:2rem;
	}
	.main>.back{
		width:5rem;
		height:5rem;
		border-radius:20%;
		position:absolute;
		top:-2rem;
		right:0;
		z-index:4;
		text-align:center;
		/*line-height:5rem;*/
	}
	.main>.back:hover{
		cursor:pointer;
	}
	.main>.title{
		width:100%;
		height:5rem;
		z-index:3;
		/*position:absolute;*/
		/*top:2rem;*/
		/*left:0%;*/
	}
	.main>p{
		max-width:100%;
		text-align:left;
	}
	.main>.des{
		max-width:100%;
		text-align:left;
	}
	.main>video{
		max-width:100%;
		/*webkit-playsinline="";*/
		/*x-webkit-airplay="";*/
	}
	.main>audio{
		max-width:100%;
		margin-top:25%;
	}
	/*在这里依据不同宽度做编译*/
	@media  screen and (min-width:992px){
		/*定时器*/
		.time{
			position:fixed;
			top:3rem;
			left:2%;
			z-index:4;
			color:palevioletred;
		}
		/*旋转*/
		.wuTai{
			perspective:20rem;/*定义视距*/
			width:100%;
			height:100%;
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-25%;
			margin-left:-50%;
			z-index:0;
		}
		.wuTai>div{
			background:lightcoral;
			width:18rem;
			height:18rem;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-9rem;
			margin-top:-9rem;
			border-radius:2rem;
			line-height:18rem;
			text-align:center;
		}
		.wuTai>div:hover{
			cursor:pointer;
		}
		/*阅读视窗*/
		.glass{
			z-index: 1;
			width:100%;
			height:200%;
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-50%;
			margin-left:-50%;
			background:rgba(216,253,255,0.7);
		}
		.main{
			width:100%;
			height:100%;
			position:fixed;
			top:3rem;
			left:0%;
			text-align:center;
			/*border: 0.1rem solid lightpink;*/
			padding:0.3rem;
			/*-webkit-border-radius:;*/
			/*-moz-border-radius:;*/
			border-radius:1%;
			z-index:2;
		}
		.main>img{
			max-height:72%;
		}
	}
	@media  screen and (min-width:768px) and (max-width: 992px){
		/*定时器*/
		.time{
			position:fixed;
			top:1rem;
			left:2%;
			z-index:4;
			color:palevioletred;
		}
		/*旋转*/
		body{
			perspective:30rem;/*定义视距*/
		}
		.placeH{
			width:100%;
			height:15rem;
		}
		.wuTai{
			width:100%;
			height:100%;
			position:absolute;
			top:50%;
			left:0%;
			transform-style:preserve-3D;/*定义旋转方式*/
			transition:all	1s;/*定义过渡效果*/
			z-index:0;
			/*border:1px solid red;*/
		}
		.wuTai>div{
			width:50rem;
			height:18rem;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-25rem;
			margin-top:-9rem;
			border-radius:2rem;
			line-height:18rem;
			text-align:center;
		}
		.wuTai>.group1{
			transform:rotateX(0deg) translateZ(5.0rem);
		}
		.wuTai>.group2{
			transform:rotateX(-120deg) translateZ(2.5em);
		}
		.wuTai>.group3{
			transform:rotateX(-240deg) translateZ(5.0rem);
		}
		.wuTai>div>span{
			margin:-0.3rem;
			display:inline-block;
			background:lightgreen;
			width:18rem;
			height:18rem;
			border-radius:2rem;
			line-height:18rem;
			text-align:center;
		}
		.wuTai>div>span:hover{
			cursor:pointer;
		}
		/*阅读视窗*/
		.glass{
			/*border: 1px solid red;*/
			z-index: 1;
			width:200%;
			height:600%;
			position:absolute;
			top:100%;
			left:0%;
			margin-top:-50%;
			margin-left:-50%;
			background:rgba(216,253,255,0.7);
		}
		.main{
			width:100%;
			height:100%;
			position:fixed;
			top:1rem;
			left:50%;
			margin-left:-50%;
			text-align:center;
			/*border: 0.1rem solid red;*/
			padding:0.3rem;
			/*-webkit-border-radius:;*/
			/*-moz-border-radius:;*/
			border-radius:1%;
			z-index:2;
		}
		.main>img{
			max-width:100%;
		}
	}
	@media  screen and (max-width: 768px){
		/*定时器*/
		.time{
			position:fixed;
			top:1rem;
			left:2%;
			z-index:4;
			color:palevioletred;
		}
		/*旋转*/
		body{
			perspective:30rem;/*定义视距*/
		}
		.placeH{
			width:100%;
			height:15rem;
		}
		.wuTai{
			width:100%;
			height:100%;
			position:absolute;
			top:50%;
			left:0%;
			transform-style:preserve-3D;/*定义旋转方式*/
			transition:all	1s;/*定义过渡效果*/
			z-index:0;
			/*border:1px solid red;*/
		}
		.wuTai>div{
			width:18rem;
			height:50rem;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-9rem;
			margin-top:-10rem;
			border-radius:2rem;
			line-height:18rem;
			text-align:center;
		}
		.wuTai>.group1{
			transform:rotateY(0deg) translateZ(5.0rem);
		}
		.wuTai>.group2{
			transform:rotateY(-120deg) translateZ(5.0rem);
		}
		.wuTai>.group3{
			transform:rotateY(-240deg) translateZ(5.0rem);
		}
		.wuTai>div>span{
			margin:-0.3rem;
			display:block;
			background:lightblue;
			width:18rem;
			height:18rem;
			border-radius:2rem;
			line-height:18rem;
			text-align:center;
		}
		.wuTai>div>span:hover{
			cursor:pointer;
		}
		/*阅读视窗*/
		.glass{
			/*border: 1px solid red;*/
			z-index: 1;
			width:200%;
			height:600%;
			position:absolute;
			top:80%;
			left:0%;
			margin-top:-50%;
			margin-left:-50%;
			background:rgba(216,253,255,0.7);
		}
		.main{
			width:100%;
			height:100%;
			position:fixed;
			top:3rem;
			left:25%;
			margin-left:-25%;
			text-align:center;
			/*border: 0.1rem solid red;*/
			padding:0.3rem;
			/*-webkit-border-radius:;*/
			/*-moz-border-radius:;*/
			border-radius:1%;
			z-index:2;
		}
		.main>img{
			max-width:100%;
		}
	}